.message {
	padding: 10px;
	margin: 10px;
	width: fit-content;
}

.message_user {
	margin-left: auto;
	color: white;
	text-align: right !important;
}

.message .message_userCard {
	background-color: #0b81ff;
}

.message .message_guestCard {
	background-color: #e9e9eb;
}
